  <div class="relative p-6 bg-white z-1 dark:bg-gray-900 sm:p-0">
    <div
      class="relative flex flex-col justify-center w-full h-screen lg:flex-row dark:bg-gray-900 sm:p-0"
    >
      <div
        style="background-color: #d9ffff"
        class="items-center hidden w-full h-full lg:w-1/2 dark:bg-white/5 lg:grid relative"
      >
        <div class="flex items-center justify-center z-1">
          <div class="flex flex-col items-center max-w-xs">
            <a class="block mb-4">
              <img
                width="-231"
                height="48"
                src="/assets/images/weeclaims.png"
                alt="Logo"
              />
            </a>
          </div>
        </div>
      </div>

      <ng-content></ng-content>
    </div>
  </div>
