<div class="flex flex-col justify-center flex-1 w-full max-w-md mx-auto">
  <div class="mt-6">

    <div class="space-y-6 mb-6">
      <div>
        <app-label>Cedula<span class="text-error-500">*</span></app-label>
        <app-input-field
          type="text"
          placeholder="cedula"
          [value]="cedula" 
          (valueChange)="changeCedula($event)"
          name="cedula"
          class="form-input"
          required
        />
      </div>
    </div>

    @if(muestraDatosCedula){
      <div class="space-y-6">
        <div>
          <app-label>Usuario <span class="text-error-500">*</span></app-label>
          <app-input-field
            type="text"
            placeholder="Nombre"
            name="Nombre"
            class="form-input"
            required
          />
        </div>
        <div>
          <app-label>Usuario <span class="text-error-500">*</span></app-label>
          <app-input-field
            type="text"
            placeholder="Primer Apellido"
            name="username"
            class="form-input"
            required
          />
        </div>
        <div>
          <app-label>Usuario <span class="text-error-500">*</span></app-label>
          <app-input-field
            type="text"
            placeholder="Segundo Apellido"
            name="username"
            class="form-input"
            required
          />
        </div>
        <div>
          <app-label>Usuario <span class="text-error-500">*</span></app-label>
          <app-input-field
            type="text"
            placeholder="Teléfóno"
            name="username"
            class="form-input"
            required
          />
        </div>
        <div>
          <app-label>Usuario <span class="text-error-500">*</span></app-label>
          <app-input-field
            type="text"
            placeholder="Correo Electrónico"
            name="username"
            class="form-input"
            required
          />
        </div>
        <app-button
          className="w-full button-auth"
          size="sm"
          (btnClick)="guardaRegistros()"
        >
          Guarda Registros
        </app-button>

      </div>
    }

  </div>
</div>